@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: "Oswald", sans-serif;
    background: #242424ff;
    color: white;
    overflow-x: hidden;
}

header {
    position: unset;
    width: 100vw;
    height: 70px;
    padding-left: 20px;
    padding-right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: black;
    bottom: 20px;
}

.slow-transition {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transition: box-shadow 500ms;
}

.slow-transition:hover {
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
}

.header-options {
    width: 150px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#create-space {
    cursor: pointer;
}

#exit {
    cursor: pointer;
}

.content {
    width: 98%;
    margin-top: 30px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.spaces-card {
    width: 30%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.342);
    overflow: auto;
}

.card-title {
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
}

.spaces {
    width: 90%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.space {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.space-title {
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}