<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início - Story'n Lines</title>

    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/space.css">
    <script defer src="/js/home.js"></script>
</head>

<body>

    <header>
        <span>Story'n Lines</span>
        <span>Welcome to Space</span>
        <div class="header-options">
            <span id="create-space">Criar um espaço</span>
            <span id="exit">Sair</span>
        </div>
    </header>

    <div class="background">
        <div class="container">
            <div class="shape sun"></div>
            <div class="mercury-orbit">
                <div class="shape mercury"></div>
            </div>
            <div class="venus-orbit">
                <div class="shape venus"></div>
            </div>
            <div class="earth-orbit">
                <div class="shape earth"></div>
            </div>
            <div class="mars-orbit">
                <div class="shape mars"></div>
            </div>
            <div class="jupiter-orbit">
                <div class="shape jupiter"></div>
            </div>
            <div class="saturn-orbit">
                <div class="shape saturn">
                    <div class="ring"></div>
                </div>
            </div>
            <div class="uranus-orbit">
                <div class="shape uranus"></div>
            </div>
            <div class="neptune-orbit">
                <div class="shape neptune"></div>
            </div>
            <div class="asteroid-belt-orbit"></div>
            <div class="asteroid-belt-object-orbit v">
                <div class="shape object vesta"></div>
            </div>
            <div class="asteroid-belt-object-orbit j">
                <div class="shape object juno"></div>
            </div>
            <div class="asteroid-belt-object-orbit c">
                <div class="shape object ceres"></div>
            </div>
            <div class="asteroid-belt-object-orbit p">
                <div class="shape object pallas"></div>
            </div>
            <div class="kuiper-belt-orbit"></div>
        </div>
    </div>

    <div class="content">
        <div class="spaces-card slow-transition">
            <span class="card-title">Espaços mais famosos</span>

            <div class="spaces" id="famous-spaces">
            </div>
        </div>

        <div class="spaces-card slow-transition">
            <span class="card-title">Espaços mais novos</span>

            <div class="spaces" id="new-spaces">
            </div>
        </div>

        <div class="spaces-card slow-transition">
            <span class="card-title">Espaços que você curtiu</span>

            <div class="spaces">
                <div class="space">
                    <span class="space-title">Como ser astronauta</span>
                    <img src="/assets/images/comment.svg">
                    <span>10</span>
                    <img src="/assets/images/favorite.svg">
                    <span>15</span>
                </div>
                <div class="space">
                    <span class="space-title">Como ser astronauta</span>
                    <img src="/assets/images/comment.svg">
                    <span>10</span>
                    <img src="/assets/images/favorite.svg">
                    <span>15</span>
                </div>
                <div class="space">
                    <span class="space-title">Como ser astronauta</span>
                    <img src="/assets/images/comment.svg">
                    <span>10</span>
                    <img src="/assets/images/favorite.svg">
                    <span>15</span>
                </div>
                <div class="space">
                    <span class="space-title">Como ser astronauta</span>
                    <img src="/assets/images/comment.svg">
                    <span>10</span>
                    <img src="/assets/images/favorite.svg">
                    <span>15</span>
                </div>
            </div>
        </div>
    </div>

</body>

</html>